<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-explore-ease-lite","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
<!-- wp:pattern {"slug":"wens-explore-ease-lite/main-banner"} /-->
<!-- wp:pattern {"slug":"wens-explore-ease-lite/about"} /-->
<!-- wp:pattern {"slug":"wens-explore-ease-lite/counter"} /-->
<!-- wp:pattern {"slug":"wens-explore-ease-lite/tour-package"} /-->
<!-- wp:pattern {"slug":"wens-explore-ease-lite/testimonial"} /-->

<!-- wp:group {"metadata":{"name":"Blogs"},"align":"full","style":{"spacing":{"padding":{"top":"120px","bottom":"75px"},"blockGap":"44px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="blog" style="padding-top:120px;padding-bottom:75px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"16px"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":4,"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-2"}}}},"textColor":"custom-color-2"} -->
<h4 class="wp-block-heading alignwide has-custom-color-2-color has-text-color has-link-color">Expert Tips &amp; Guides</h4>
<!-- /wp:heading -->

<!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide">Plan Smarter with Our Insights</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:50px;margin-bottom:50px"><!-- wp:query {"queryId":40,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"className":"wrap-the-columns","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"className":"wensa-prova-image-ani","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-neutral"}}},"spacing":{"padding":{"top":"12px","bottom":"22px","left":"12px","right":"12px"}},"border":{"radius":"32px"}},"backgroundColor":"custom-color-3","textColor":"custom-neutral","layout":{"type":"constrained"}} -->
<div class="wp-block-group wensa-prova-image-ani has-custom-neutral-color has-custom-color-3-background-color has-text-color has-background has-link-color" style="border-radius:32px;padding-top:12px;padding-right:12px;padding-bottom:22px;padding-left:12px"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"aspectRatio":"1","className":"img-hover-zoom","style":{"border":{"radius":"20px"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"12px","padding":{"right":"12px","left":"12px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:12px;padding-left:12px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}}},"textColor":"custom-primary-color"} -->
<p class="has-custom-primary-color-color has-text-color has-link-color" style="font-size:14px">On:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}},"spacing":{"margin":{"right":"16px"}}},"textColor":"custom-primary-color"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}}},"textColor":"custom-primary-color"} -->
<p class="has-custom-primary-color-color has-text-color has-link-color" style="font-size:14px">By:</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}}},"textColor":"custom-primary-color"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}}},"textColor":"custom-primary-color"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wens-explore-ease-lite","area":"footer"} /--></div>
<!-- /wp:group -->